@charset "utf-8";

@keyframes LeftOpen{
    from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes LeftClose{
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes RightOpen{
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes RightClose{
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes UpOpen{
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes UpClose{
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
	}
}

@keyframes DownOpen{
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes DownClose{
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}
